* {
    box-sizing: border-box;
}

/* General */
body {
    background-image: url(../images/white.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
}

.navbar {
    clear: both;
    display: block;
    background-color:darkslategray;
    font-family:'Josefin Sans', sans-serif;
    color: white;
    height: 100px;
    max-height: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 0 15px 0;
    margin-bottom: 30px;
}
.header {
    font-size: 70px;
    float: left;
}
#sub-title {
    font-size: 17px;
}

.links {
    float: right;
    padding:40px 10px 0 0;
    font-size: 17px;
}

li {
    display: inline-block;
    list-style: none;
    margin-left: 4px;
}

#home, #bio, #portfolio { 
    border-right-color: rgb(211, 214, 213);
    border-right-style: solid;
    border-width: thin;
    padding-right: 4px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}

a:hover::before {
    width: 100%;
}

.wrapper-content {
    font-family: 'Open Sans', sans-serif;
    color: darkslategray;
    max-width: 980px;
    margin: 0 auto;
    padding: 0;
    clear: both;
    min-height: calc(100vh - 100px);
}

h2 {
    clear: both;
    font-size: 30px;
    text-align: left;
    font-weight: bolder;
}

p {
    font-size: 130%;
    padding: 0;
    margin: 0 0 22px 0;
    line-height: 30px;
}

hr {
    border: 0.1px solid lavender;
    margin: 10px 0 30px 0;
    clear: both;
}

.logos {
    clear: both;
    display: block;
    background-color:darkslategray;
    font-family:'Josefin Sans', sans-serif;
    color: white;
    height: 60px;
    max-height: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 0 0 10px;
    /* position: fixed; */
}

img {
    width: 25px;
    height: auto;
    margin: 18px 12px 0 10px;
    box-shadow: 2px 2px 8px cyan;
}

/* home.html elements */
#chart, #bio-pic {
    width: 200px;
    max-width: 100%;
    margin: 1% 3% 1% 0;
    float: left;
}
#bio-pic {
    width: 200px;
}
#chart {
    width: 400px;
}

/* contact.html elements */
.contact-top {
    clear: both;
    margin: 0 auto;
    padding: 0;
}
.contact-title {
    float: left;
    clear: both;
}

.logos-top {
    float: right;
    padding: 0;
    margin: 0 auto;
}

#name, 
#email, 
#textarea, 
#contact {
    font-weight: 300;
    width: 980px;
    margin: 5px 0 13px 0;
    border-color: darkslategray;
    border-width: thin;
    padding: 5px 0 5px 0;
}

label {
    font-weight: bolder;
}

#submit {
    background: darkslategray;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    font-weight: bold;
    padding: 8px 30px 8px 30px;
}

/* portfolio.html page elements */
.work {
    position: relative;
    float: left;
    width: 400px;
    margin: 0 0 25px 40px;
    font-family: 'Open Sans', sans-serif;
}
  
.work:nth-child(even) {
    margin-right: 50px;
}
  
.work img {
    width: 100%;
    border: 0 none;
}
  
.work h3 {
    position: absolute;
    bottom: 20px;
    width: 106%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 10px;
    color: #ffffff;
    text-align: center;
    background:darkslategray;
    border-bottom: 0;
    opacity: 0.9;
}
  
@media only screen and (max-width: 1000px) {
    .navbar, 
    .wrapper-content, 
    .logos, 
    #name, 
    #email, 
    #textarea {
        max-width: 900px;
        margin: auto;
    }
    #name, 
    #email, 
    #textarea, 
    #contact {
        margin: 5px 0 10px 0;
        padding: 5px 0 5px 0;
    }
    .work {
        width: 400px;
        margin: 0 0 10px 25px;
    }
    .navbar {
        margin-bottom: 30px;
    }

} 

@media only screen and (max-width: 810px) {
    .navbar, 
    .wrapper-content, 
    .logos, 
    #name, 
    #email, 
    #textarea {
        max-width: 800px;
        margin: auto;
    }
    #name, 
    #email, 
    #textarea, 
    #contact {
        margin: 5px 0 10px 0;
        padding: 5px 0 5px 0;
    }
    .work {
        width: 400px;
        margin: 0 0 10px 25px;
    }
    .navbar {
        margin-bottom: 30px;
    }
    .links {
        clear: both;
        float: left;
        font-size: 17px;
        padding:10px 0 0 0;
    }
    #chart {
        width: 300px;
    }
} 
@media only screen and (max-width: 770px) {
    .navbar, 
    .wrapper-content, 
    .logos, 
    #name, 
    #email, 
    #textarea {
        max-width: 700px;
        margin: auto;
    }
    #name, 
    #email, 
    #textarea, 
    #contact {
        margin: 5px 0 10px 0;
        padding: 5px 0 5px 0;
    }
    .work {
        width: 400px;
        margin: 0 0 10px 25px;
    }
    .navbar {
        margin-bottom: 28px;
    }
    p {
        font-size: 110%;
    }
    h2 {
        font-size: 25px;
    }
    .links {
        clear: both;
        float: left;
        font-size: 15px;
        padding:10px 0 0 0;
    }
} 

@media only screen and (max-width: 600px) {
    .navbar, 
    .wrapper-content, 
    .logos, 
    #name, 
    #email, 
    #textarea {
        max-width: 550px;
        margin: auto;
    }
    #name, 
    #email, 
    #textarea, 
    #contact {
        margin: 5px 0 10px 0;
        padding: 5px 0 5px 0;
    }
    .work {
        width: 400px;
        margin: 0 0 10px 25px;
    }
    .navbar {
        height: 80px;
        margin-bottom: 25px;
    }
    p {
        font-size: 100%;
    }
    h2 {
        font-size: 20px;
    }
    .links {
        clear: both;
        float: left;
        font-size: 15px;
        padding:10px 0 0 0;
    }
    .header {
        font-size: 50px;
    }
    #sub-title {
        font-size: 15px;

}







/* 
font-family: 'Josefin Slab', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif; */